<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.levis.app.levisapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity android:name=".interfaz.Search"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".interfaz.Login" />
        <activity android:name=".interfaz.Register" />
        <activity android:name=".interfaz.Home" />
        <activity android:name=".interfaz.Profile" />
        <activity android:name=".interfaz.Settings" />
        <activity android:name=".interfaz.Photo" />
        <!--
        <activity android:name=".interfaz.Search"></activity>
        -->
    </application>

</manifest>